.container {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #251237;
  flex-direction: column;
}

.created-by a {
  color: #fff;
}