.text-wrapper {
  padding: 10px;
}

.text-wrapper .character {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
}

.text-wrapper .visited {
  color: #6ab04c;
}

.text-wrapper .typo {
  color: #d02d2a;
}

.text-wrapper .space {
  width: 10px;
}
