.text-wrapper .character {
  color: #ffffff;
}

.text-wrapper .visited {
  color: #a0a0a7;
}

.text-wrapper .typo {
  color: #d02d2a;
}

.text-wrapper .typo-space {
  border-bottom: 1px solid #d02d2a;
}
