.keyboard-wrapper {
  height: 360px;
  display: flex;
  flex-direction: column;
}

.keyboard-wrapper[data-theme="light"] {
  background-color: #fff;
}

.keyboard-wrapper .row {
  flex: 1;
  text-align: center;
}

.keyboard-wrapper .letter {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  background-color: #312344;
  margin: 5px;
  width: 80px;
  height: 80px;
  border-radius: 8px;
}

.keyboard-wrapper .letter span {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.keyboard-wrapper .space-bar {
  width: 500px;
}

.keyboard-wrapper .active-letter {
  background-color: #d12e2c;
  color: white;
}
