.main-content {
  border: 3px solid red;
  height: 640px;
  width: 1300px;
  box-sizing: border-box;
  display: flex;
}

.main-content .left {
  border: 2px solid yellow;
  width: 250px;
}

.main-content .center {
  border: 2px solid purple;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content .right {
  border: 2px solid greenyellow;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
